@import "../../scss/variables";
@import "../../scss/functions";
@import "../../scss/mixins";

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  text-align: center;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &__download {
    width: fit-content;
    padding: rem-calc(10) rem-calc(25);
    color: $white;
  }

  &__transparent {
    background-color: transparent;
    border: 1px solid $white;

    &:hover,
    &:focus {
      background-color: $coral;
      border-color: $coral;
    }
  }

  &__color {
    background-color: $coral;
    border: 1px solid $coral;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $coral;
      border: 1px solid $coral;
    }
  }
}
