@import "../../scss/variables";
@import "../../scss/functions";
@import "../../scss/mixins";

.button {
  display: inline-block;
  text-align: center;
  width: fit-content;
  padding: rem-calc(10) rem-calc(25);
  color: $white;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &--transparent {
    background-color: transparent;
    border: 1px solid $white;

    &:hover,
    &:focus {
      background-color: $coral;
      border-color: $coral;
    }
  }

  &--color {
    background-color: $coral;
    border: 1px solid $coral;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $coral;
      border-color: $coral;
    }
  }
}
