@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__input,
  &__textarea {
    font-family: $open-sans-font;
    font-size: $fsz-14;
    line-height: unitless-lh(14, 19);
    background-color: $white;
    border: none;
    border-bottom: 1px solid $gray-200;
    color: $gray-200;

    padding-bottom: rem-calc(20);
    margin-top: rem-calc(20);
  }

  &__textarea {
    resize: none;
  }

  &__button {
    width: 100%;
    padding: rem-calc(16);
    font-family: $open-sans-font;
    font-size: $fsz-15;
    font-weight: $font-weight-semi-bold;
    line-height: unitless-lh(15, 20);
    background-color: $coral;
    color: $white;

    &:hover,
    &:focus {
      box-shadow: 0 0 20px $coral;
    }
  }
}
