@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.section-title {
  margin: 0;
  font-family: $raleway-font;
  font-size: $fsz-36;
  font-weight: $font-weight-regular;
  line-height: unitless-lh(36, 42);
  color: $black-200;
  text-align: center;
  text-transform: uppercase;
}
