@function rem-calc($value) {
  $rem-value: ($value / 16) * 1rem;
  $rounded-value: round($rem-value * 100) / 100;
  @return $rounded-value;
}

@function unitless-lh($fs, $lh) {
  $base-value: $lh / $fs;
  $main-value: round($base-value * 100) / 100;
  @return $main-value;
}

/* Media query */

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n !=null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02, null);
}
